<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="google-site-verification" content="po8157oyj1IXaaMxeAi_p5sJOJ9TJtPqYZAIHN800pQ" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../statics/css/home.css">
    <title>{{ .Title |html }}</title>
  </head>
  <body>
    <h1 id="apptitle">Go picture</h1>
    <div class="login">
      <button id="login">LOG IN</button>
    </div>
    <div class="register">
      <button id="register">CREATE ACCOUNT</button>
    </div>
  </body>
</html>
