<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- <script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script> -->
    <meta name="google-site-verification" content="po8157oyj1IXaaMxeAi_p5sJOJ9TJtPqYZAIHN800pQ" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../statics/css/index.css">
    <title>{{ .Title |html }}</title>
  </head>
  <body>
    <div id="wrap">
      <main style="max-width:900px;margin:auto;">
        <h1 id="title">My Albums</h1>
        <!-- <a href="/login">ログイン</a> -->
          <!-- {{if .profile}}
            <form method="post" action="{{.LogoutURL}}" class="navbar-form navbar-right">
              <button class="btn btn-default">Log out</button>
            </form>
            <div class="navbar-text navbar-right">
              {{if .Profile.ImageURL}}
                <img class="img-circle" width="24" src="{{.Profile.ImageURL}}">
              {{end}}
              <span>{{.Profile.DisplayName}}</span>
            </div>
          {{else}}
            <div class="navbar-text navbar-right">
              <a href="{{.LoginURL}}">Log in</a>
            </div>
          {{end}} -->
        <div class="container">
          <div id="newalbum"><button id="btn">新しいアルバムを作成する</button></div>
            <form action="/upload" enctype="multipart/form-data" method="post" id="newform">
              <label for="upload-firebase">アルバムに入れる写真を選んでください</label>
              <input type="file" name="upload-firebase" id="upload-firebase" multiple="multiple" accept="image/*" required/>
              <div id="input-album-name">
                <label for="folder-name">アルバム名</label>
                <input type="text" name="album" value="" id="folder-name" required pattern="[^/]+">
                <small>「/」を含むアルバム名をつけることはできません</small>
              </div>
              <div class="right">
                <input type="submit" value="&#xf382; 写真をアップロードする" class="fas"/>
              </div>
            </form>
          <div class="folders">
            {{range .folders}}
            <div class="card">
              <div class="thumbnail">
                <a href="/show/{{.}}"><img src="https://www.jalan.net/news/img/2019/11/20191129_3gatsu_ryoko_08-e1575013549397-670x443.jpg" class="thumbimg"></a>
              </div>
              <a href="/show/{{.}}" class="link">
                    {{.}}
              </a>
            </div>
            {{end}}
          </div>
        </div>
        <div id="space"></div>
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../statics/js/jquery-inertiaScroll.js"></script>
    <script src="../statics/js/index.js"></script>
  </body>
</html>
