<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script>
    <meta name="google-site-verification" content="po8157oyj1IXaaMxeAi_p5sJOJ9TJtPqYZAIHN800pQ" />
    <link rel="stylesheet" type="text/css" href="../statics/css/index.css">
    <title>{{ .Title |html }}</title>
  </head>
  <body>
    {{if .userinfo}}
      <form method="post" action="{{.LogoutURL}}" class="navbar-form navbar-right">
        <button>ログアウト</button>
      </form>
      <div class="navbar-text navbar-right">
        <span>{{.userinfo.Email}}</span>
        <span>{{.userinfo.Name}}</span>
      </div>
      <div class="container">
        <button id="btn">新しいアルバムを作成する</button>
          <form action="/upload" enctype="multipart/form-data" method="post">
            <label for="upload-firebase">アルバムに入れる写真を選んでください</label>
            <input type="file" name="upload-firebase" id="upload-firebase" multiple="multiple" accept="image/*" required/>
            <div id="input-album-name">
              <label for="folder-name">アルバム名</label>
              <input type="text" name="album" value="" id="folder-name" required pattern="[^/]+">
              <small>「/」を含むアルバム名をつけることはできません</small>
            </div>
            <div class="right">
              <input type="submit" value="&#xf382; 写真をアップロードする" class="fas"/>
            </div>
          </form>
        <div class="folders">
          {{range .folders}}
          <div class="card">
            <a href="/show/{{.Hash}}" class="link">
                  {{.Name}}
            </a>
          </div>
          {{end}}
        </div>
      </div>
    {{else}}
      <div class="navbar-text navbar-right">
        <a href="/login">Log in</a>
      </div>
    {{end}}
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../statics/js/index.js"></script>
  </body>
</html>
