<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../statics/css/show.css">
    <title>Show</title>
  </head>
  <body>
    <div class="container">
      {{range .List}}
        <div class="picture">
          <img src="{{.Link}}" style="width:100%;height:100%;" class="js-show-popup">
          <div class="info">
            <div id="favorite-{{.Path}}" class="favorite">
              <i class="far fa-heart"style="color:violet;"></i>
            </div>
            <span id="favorite-count-{{.Path}}" style="color:white;">{{.FavCount}}</span>
          </div>
        </div>
      {{end}}
      <div class="popup" id="js-popup">
        <div class="popup-inner">
          <div class="close-btn" id="js-close-btn"><i style="color:black;"class="fas fa-times"></i></div>
          <img src="">
        </div>
        <div class="black-background" id="js-black-bg"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../statics/js/show.js"></script>
  </body>
</html>
