<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://kit.fontawesome.com/81a1ab3943.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../statics/css/show.css">
    <title>Show</title>
  </head>
  <body>
    {{range .List}}
      <div class="picture">
        <img src="{{.Link}}" height="100px" width="100px"/>
        <div class="info">
          <div id="favorite-{{.FileName}}" class="favorite">
            <i class="far fa-heart"></i>
          </div>
          <span id="favorite-count-{{.FileName}}">{{.FavCount}}</span>
        </div>
      </div>
    {{end}}

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="../statics/js/show.js"></script>
  </body>
</html>
